.nav__logo {
    width: 9.25rem;
    height: 3rem;
}

// Top nav bar
.topNav {
    position: absolute;
    width: 100%;
    z-index: 10;
    select {
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid #aaa;
        color: #fff;
        font-size: 0.875rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 20px;
        border-radius: 6px;
    }
    .algCentre {
        height: 4.375rem;
        button {
            font-weight: 500;
        }
    }
}

// home banner
.home-banner {
    height: 100vh;
    overflow: hidden;
    h1 {
        @media screen and (min-width: 960px) {
            font-size: 3rem;
            font-weight: 900;
        }
    }
    h2 {
        @media screen and (min-width: 960px) {
            font-size: 1.5rem;
            font-weight: 400;
        }
        @media screen and (min-width: 600px) {
            margin: 1rem 0 0;
            font-size: 1.125rem;
            font-weight: 400;
        }
    }
    .shadow {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }
    img {
        display: block;
        height: auto;
        max-width: 100%;
        @media screen and (max-width: 992px) {
            max-width: none;
        }
    }
    .our-story-container {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 35%;
        z-index: 1;
        .our-story {
            color: white;
            text-align: center;
            @media screen and (min-width: 1280px) {
                max-width: calc(83.33333333333334% - 6rem);
            }
            @media screen and (min-width: 960px) {
                max-width: calc(83% - 4rem);
            }
            @media screen and (min-width: 600px) {
                max-width: calc(83% - 4rem);
            }

            h1 {
                font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
            }
        }
        .input-group {
            max-width: 36.625rem;
            text-align: left;
            position: relative;
            margin: 1rem auto 0;
            width: 100%;
            display: flex;
            align-items: center;
            @media screen and (max-width: 576px) {
                width: 90%;
            }
            input {
                height: 54px;
                padding: 0.2rem 1rem;
                border-radius: 6px;
            }

            button {
                font-size: 1.5rem;
                padding: 0.2rem 1.5rem;
                border: 0;
                height: 54px;
                font-weight: normal;
                background: rgb(229, 9, 20);
                border-radius: 6px;
            }
        }
    }
}

// Login Page
.login {
    height: 100vh;
    overflow: hidden;

    .holder {
        padding: 60px 68px 40px;
        background-color: black;
        min-height: 460px;
        width: 450px;
        position: absolute;
        z-index: 1;
        margin-top: 100px;
        left: calc(50% - 225px);

        input {
            background-color: #333;
            border: 0;
            margin-bottom: 20px;
            color: #fff;
        }
    }
    .shadow {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    img {
        max-width: 100%;
    }
    .login-form-other {
        .login-signup-now {
            color: #737373;
            font-size: 16px;
            font-weight: 500;
            margin-top: 16px;
            a {
                color: #fff;
            }
        }
    }
}

// Banner
.banner {
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 448px;
    object-fit: contain;
    position: relative;

    .banner__contents {
        height: 190px;
        margin-left: 30px;
        padding-top: 140px;
    }

    .banner__title {
        font-size: 3rem;
        font-weight: 800;
        padding-bottom: 0.3rem;
    }

    .banner__description {
        font-size: 16px;
        height: 80px;
        line-height: 1.3;
        line-height: 24px;
        padding-top: 1rem;
        width: 45rem;
    }

    .banner__button {
        border: none;
        border-radius: 0.2vw;
        cursor: pointer;
        font-weight: 700;
        margin-right: 1rem;
        outline: none;
        padding: 0.5rem 2rem;
    }

    .banner__button:hover {
        background-color: #bab9b9;
        color: #000;
        transition: all 0.2s;
    }

    .banner--fadeBottom {
        background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
        height: 7.4rem;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

// List
.list {
    > .row {
        flex-direction: column;
        margin: 0;
    }
    .title {
        margin: 30px;
        margin-bottom: 0;
    }
    .row__posters {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 20px 0 20px 0;
    }

    .row__posters::-webkit-scrollbar {
        display: none;
    }

    .row__poster {
        margin-right: 10px;
        max-height: 100px;
        object-fit: contain;
        opacity: 0.8;
        transition: transform 0.45s;
        width: 100%;
    }

    .row__poster:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.08);
    }

    .row__posterLarge {
        max-height: 250px;
    }

    .row__posterLarge:hover {
        opacity: 1;
        transform: scale(1.09);
    }

    .closeBtnContainer {
        float: right;

        .closebutton {
            color: #fff;
            font-size: 25px;
            background: none;
            border: 4px;
            border-color: #fff;
            border-radius: 4px;
            
            &:hover {
                color: red;
            }
        }
    }
}
